<html>

<head>
    <title>User Feedback</title>
</head>

<body>
    <div>
        <span>
            <h2>Hey BrandExpress Team!</h2>
            <p>A feedback has been sent by company: {{companyName}}
            </p>
            <p>Feedback body :{{body}}
            </p>
        </span>
    </div>
</body>

</html>