<html>

<head>
    <title>User Login</title>
</head>
<style>
    @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

    body {
        font-family: 'Poppins';
        background-color: #E5E7EB;
    }

    h1 {
        font-size: 24px
    }

    .container {
        margin: auto;
        width: 50%;
        background-color: white;
        border-radius: 20px;
    }

    .inner-container {
        display: flex;
        flex-direction: column;
        width: 75%;
        margin: 0 auto;
        padding: 30px 0;
    }

    .logo {
        margin: 0 auto;
    }

    .margin-0 {
        margin: 0;
    }

    .flex {
        display: flex;
        align-items: center;
    }

    .purple-text {
        color: #8835FD
    }

    .gray-color {
        color: #7C7C7C
    }

    .font-bold {
        font-weight: bold;
    }

    .signature-inner {
        font-size: 12px;
        color: #000;
        padding-left: 15px;
        margin-left: 15px;
        border-style: solid;
        border-width: 0 0 0 2px;
        border-color: #000;
    }

    .footer {
        font-weight: bold;
        display: flex;
        width: 100%;
        justify-content: center;
    }
</style>

<body>
    <div class="container">
        <div class="inner-container">
            <img height="100px" class="logo"
                src="https://res.cloudinary.com/brandexpress/image/upload/v1635503512/logos/BE-logo-x_h6ao9i.png" />
            <h2>Hey {{name}}!</h2>
            <p>Thanks for choosing to work with us. Our team is working on branding
                your startup for success.
            </p>
            <p>In the meantime, you can login to your dashboard on
                <a target="_blank" href={{link}}>this link</a>
                to keep track of the progress and give us your feedback.
            </p>
            <div class="flex">
                <img width="150px"
                    src="https://res.cloudinary.com/brandexpress/image/upload/v1635503512/logos/BE-logo_br5nlz.png"></img>
                <div class="signature-inner">
                    <h3 class="margin-0">Tatiana T.</h3>
                    <h4 class="margin-0 gray-color">Project Coordinator</h4>
                    <p class="margin-0"><span class="font-bold"> Phone:</span> +961 76 358 810</p>
                    <p class="margin-0"><span class="font-bold">Email address:</span> team@brandexpress.ae</p>
                </div>
            </div>
        </div>
    </div>
    <div class="footer">
        <p>Copyright © 2021 BrandExpress.ae All rights reserved</p>
    </div>
</body>

</html>