<html>

<head>
    <title>User Feedback</title>
</head>

<body>
    <div>
        <span>
            <h2>Hey BrandExpress Team!</h2>
            <p> A new brand has just been created </p>
            <p> The brand name is: {{companyName}} </p>
            <p style="white-space: pre;">User onboarding details are as follow: {{body}} </p>
        </span>
    </div>
</body>

</html>