<html>

<head>
    <title>User Registeration</title>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


        body {
            margin: 0;
        }

        h1 {
            font-size: 24px;
            text-align: center;
        }

        .main-container {
            background-color: #F9FAFB;
            padding: 30px 0;
            width: 100%;
        }

        .container {
            margin: auto;
            width: 50%;
            background-color: white;
            border-radius: 20px;
        }

        .inner-container {
            width: 75%;
            margin: 0 auto;
            padding: 30px 0;
        }

        .margin-0 {
            margin: 0;
        }

        .signature {
            display: flex;
            align-items: center;
            margin-top: 30px;
        }

        .purple-text {
            color: #8835FD
        }

        .gray-color {
            color: #7C7C7C
        }

        .font-bold {
            font-weight: bold;
        }

        .signature-inner {
            font-size: 12px;
            color: #000;
            padding-left: 15px;
            margin-left: 15px;
            border-style: solid;
            border-width: 0 0 0 2px;
            border-color: #000;
        }


        .footer {
            font-size: 12px;
            width: 100%;

        }

        .link {
            text-decoration: none;
            color: #8835FD !important
        }
    </style>
</head>


<body>
    <div class="main-container">
        <div class="container">
            <div class="inner-container">
                <table width="100%">
                    <tr>
                        <td style="text-align: center;">
                            <img width="75px"
                                src="https://res.cloudinary.com/brandexpress/image/upload/v1635503512/logos/BE-logo-x_h6ao9i.png" />
                        </td>
                    </tr>
                </table>
                <h1>Welcome to BrandExpress.ae</h1>
                <p>Hi <span class="purple-text"> {{name}}!</span></p>
                <p>This is Tatiana from Brand Express confirming that we’ve received your request.
                    I’d like to thank you for choosing to work with us. The Brand Express team is excited to be working
                    on
                    branding
                    <span class="purple-text">{{companyName}}</span> for success.
                </p>
                {{!-- <p>In the meantime, you can login to your dashboard on <a class="purple-text" target="_blank"
                        href={{link}}>this link</a> to keep
                    track
                    of the progress and give us your feedback.</p> --}}
                {{!-- <p>If you haven’t already, check out our showcase of previous work we’ve done for other startups
                    and
                    small
                    businesses.</p> --}}
                <p>The Team is currently reviewing your request and will get in touch with you very shortly.
                    If you have any questions, feel free to reply to this email.</p>
                <p>Have a wonderful day!</p>
                <p>Tatiana</p>
                <div class="signature"><img width="150px" height="62.41"
                        src="https://res.cloudinary.com/brandexpress/image/upload/v1635503512/logos/BE-logo_br5nlz.png"></img>
                    <div class="signature-inner">
                        <h3 class="margin-0">Tatiana T.</h3>
                        <h4 class="margin-0 gray-color">Project Coordinator</h4>
                        <p class="margin-0"><span class="font-bold"> Phone:</span> +971 522446969</p>
                        <a class="margin-0 font-bold link" href="brandexpress.ae">BrandExpress.ae</a>
                    </div>
                </div>
            </div>

        </div>
        <div class="footer">
            <p style="width: 50%; margin: auto; text-align: center; margin-top: 30px;">Copyright ©
                2021 BrandExpress.ae
                All
                rights reserved</p>
        </div>
    </div>
</body>

</html>